* {
    box-sizing: border-box;
}

body {
    background-color: #90aead;
    box-sizing: border-box;
    position: relative;
}

p {
    margin: 0;
}

.tree-container {
    width: 100%;
    height: 100%;
    margin: auto;
    pointer-events: none;
}

path {
    stroke: #e64833 !important;
}

.card-container {
    padding: 8px;
}

.root-card {
    position: relative;
    /*background-color: white;*/
    border-radius: 10px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #ffffff;
    background-color: #e64833;
}

.card {
    position: relative;
    background-color: #fbe9d0;
    border-radius: 10px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);
    border: 1px dashed #e64833;
}

.user {
    padding: 8px;
    /*display: flex;*/
}

.user-avatar {
    margin: 0 auto 4px;
    text-align: center;
    text-transform: capitalize;
    min-height: 80px;
}

.user-avatar img {
    border: 1px solid #e64833;
    border-radius: 50%;
    height: 72px;
    width: 72px;
    object-fit: cover;
    background-color: #e64833;
}

.user-avatar p {
    margin: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    color: #244855;
}

.contact {
    background-color: #e64833;
    text-align: center;
    padding: 4px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 10px;
    color: white;
    font-weight: bolder;
}
