* {
    box-sizing: border-box;
}

body {
    background-color: white;
    box-sizing: border-box;
}

p {
    margin: 0;
}


.card-container {
    padding: 8px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);
}

.user {
    padding: 8px;
    /*display: flex;*/
}

.user-avatar {
    margin: 0 auto 8px;
    text-align: center;
    margin-bottom: 4px;
}

.user-avatar img {
    border: 1px solid #c16969;
    border-radius: 50%;
    height: 72px;
    width: 72px;
}

.user-avatar p {
    background-color: #0089ff;
    padding: 4px 10px;
    margin: 0;
    color: white;
    border-radius: 10px;
    font-size: 12px;
}

.contact {
    background-color: rgba(0, 137, 255, 0.19);
    text-align: center;
    padding: 4px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
